.main-nav{
    min-height: 30px;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-top: solid 3px #ef8236;
    border-radius: 20px;
    box-shadow: 0px 1px 5px #00000033;
    top: 0;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbar{
    height: 100%;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    padding: 7px 25px;
    border-radius: 30px;
}

.nav-item{
    margin: 0px 3px;
    font-size: small;
    font-weight: 400;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.nav-item:hover{
    background-color: rgba(11, 11, 11, 0.138);
}

.nav-btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

.navbar form{
    position: relative;
    flex-grow: 1;
    padding: 0px 10px;
}

.navbar form input{
    min-width: 75%;
    margin: 0%;
    padding: 8px 20px 8px 40px;
    border-radius: 20px;
    font-size: 16px;
    border: solid 2px #00000033;
    transition: 0.3s;
    outline: none;
}

.navbar form input[type=text]:hover{
    border: solid 2px #00000043;
}

.navbar form input[type=text]:focus{
    border: solid 2px #00000063;
}

.search-icon{
    position: absolute;
    top: 11px;
    left: 23px;
}

.nav-links{
    padding: 10px 15px;
    border: solid 2px #2463cfcb; 
    border-radius: 10px;
    background-color: rgba(103, 170, 233, 0.319);
    cursor: pointer;
}

.nav-links:hover{
    border: solid 2px #2463cfda;
    background-color: rgba(103, 170, 233, 0.252);
}

.navbar .children{
    padding: 8px 12px ;
    border-radius: 40%;
    font-size: 15px;
    font-weight: 800;
    margin-right: 5px;
    text-align: center;
    color: white;
    background-color: #2463cfcb;
    text-decoration: none;
    cursor: pointer;
}

.children:hover{
    opacity: 95%;
}